:root {
  /********** COLORS ***********/
  --darkNavy: #1f314f;
  --grey: #7d889e;
  --lightGrey: #d5e1ef;
  --white: #ffffff;

  /*********** FONT FAMILY ***********/
  --outfit: "Outfit", sans-serif;

  /********** FONT WEIGHTS **********/
  --fw400: 400;
  --fw700: 700;
}

/********** GENERAL **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--outfit);
}

html,
body {
  height: 100%;
}

/*********** QR CODE CONTAINER ***********/
body {
  background-color: var(--lightGrey);
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code-container {
  padding: 1.6rem 1.6rem 4rem;
  background-color: var(--white);
  max-width: 32rem;
  max-height: 49.7rem;
  box-shadow: 0 2.5rem 2.5rem rgba(0, 0, 0, 0.0476518);
  border-radius: 2rem;
}

.qr-code-img {
  max-width: 100%;
  margin-bottom: 2.4rem;
  border-radius: 1rem;
}

.qr-header {
  font-weight: var(--fw700);
  font-size: 2.2rem;
  line-height: 2.8rem;
  text-align: center;
  color: var(--darkNavy);
  margin-bottom: 1.6rem;
}

.qr-paragraph {
  font-weight: var(--fw400);
  font-size: 1.5rem;
  line-height: 1.9rem;
  text-align: center;
  letter-spacing: 0.01875rem;
  color: var(--grey);
  max-width: 25.6rem;
  max-height: 5.7rem;
  margin: 0 auto;
}
